main {
    background: #fbe6e2;
    width: 85%;
    min-height: 500px;
    /*margin: 50px 50px; le premier chiffre est la marge avec le haut et bas, le deuxieme chiffre est la marge de gauche à droite */
    margin: auto auto ;/* pour que les marges soient identiques quoi qu'il arrive des deux cotes, en haut et bas et gauche àdroite*/
    padding: 15px; /* si on met juste un chiffre, ce chiffre la de 15px representera tous les cotés, haut droite bas gauche, dans le sens des aiguilles d'une montre*/
    border-radius: 10px;
}



*
{
margin: 0;
padding:0;
}



body {
background: url(./assets/peXels.jpg) fixed center/cover; /* fixed empechera limage de bouger, mais le contenu de la page bougera normalement*/
/*height: 100vh;
/*overflow: hidden; empecher le scrolling */
}



h1 {
    text-transform: uppercase; /* transformer le texte en majuscule */
    letter-spacing: 12px; /* faire un espace entre les lettres */
    font-size: 2.5rem;
    color: darkblue;
    text-shadow: 5px 0 0 darkcyan;
    text-align: center;
}
.positioning{
/* cela affectera la classe positioning mais pas la classe flexbox, qui est associé dans le css d'apres*/
position: relative;
}

.positioning, /* cela va permettre de déclarer les memes valuers pour el sdeux classes */
.flexbox{
border: 2px solid skyblue;
margin-top: 45px;

}

ul {
display: flex;
justify-content: space-around; /*flexbox.help*/

}

li{
height: 160px;
width: 160px;
list-style-type: none;
font-size: 0.7rem;
background: turquoise;
}


#cercle{
height: 60px;
width: 60px; /* width: 35% , grace à sa position absolute par rapport à son parent en relative, le width restera tout le temps quoi qu'il arrive à 35% de son parent*/
background: skyblue;
border-radius: 50%;
top: 0;

}





.grid-container
{
display: grid;
grid-template-columns: 30% 50% 10%;
}


#img-css{
height: 90%;
width: 90%;
}